.meet-container {
    width: 100%;
    height: 100vh;
    background: #f2f3f7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
  }
  
  .lobby-box {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
    width: 420px;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .input {
    width: 100%;
    margin-bottom: 20px !important;
  }
  
  .btn {
    width: 100%;
    margin-bottom: 20px !important;
  }
  
  .local-video {
    width: 100%;
    height: 260px;
    border-radius: 10px;
    background: black;
    margin-top: 20px;
  }
  
  .video-grid {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .local-video-small {
    width: 300px;
    height: 220px;
    border-radius: 10px;
  }
  
  .remote-video {
    width: 380px;
    height: 260px;
    border-radius: 10px;
  }
  